$isHorizontalResizeForOutput: true !default;

* { margin: 0; padding: 0; box-sizing: border-box; }
html { font-size: /*62.5%*/16px; }
button { cursor: pointer; }
input { outline: 0; }
textarea { @if not $isHorizontalResizeForOutput { resize: vertical; } }

.application { display: flex; }
.console { flex: 2; display: flex; flex-direction: column; }
.settings { flex: 1; }

.output { display: flex; flex: 1; }
#out { flex: 1; background-color: black; color: green; font-size: 1.4rem; padding: .5rem .2rem; border: 0; }
#out::selection { background-color: white; }

.settings {
  display: flex;
  flex-direction: column;

  .enabled, .disabled {
    flex: 1;
    display: flex;

    select { flex: 1; }
  }

  .actions {
    display: flex;
    justify-content: center;

    button { margin: .25rem; }
  }
}

.input {
  display: flex;
  background-color: #333;
  color: cyan;
  font-family: monospace;

  .arrow { margin-right: .25rem; }

  input { flex: 1; border: 0; background-color: inherit; color: white; }
}